.menu-royal{
	height: 80px;
  	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  	background-color: #ffffff;
}
.breadcrumbs ul {
    list-style: none;
    display: inline-flex;
    margin-top: 20px;
}
#myCarousel .list-inline {
    white-space:nowrap;
    overflow-x:auto;
}

#myCarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

#myCarousel .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
    border-radius: 10px;
    border: solid 1px #dadada;
    padding: 3px;
}

#myCarousel .carousel-indicators > li.active img {
    opacity: 0.7;
}
.carousel-item {
    border-radius: 10px;
    border: solid 1px #dadada;
    margin-top: 20px;
    background: none;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 25px;
}
.carousel-control-next {
    right: 35%;
    top: 70%;
    opacity: 1;
}
.carousel-control-prev {
    left: 35%;
    top: 70%;
    opacity: 1;
}
.desc-prod h1:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 13px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    background-color: #CF0F11;
    margin-right: 10px;
}
.desc-prod h1{
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
}
.desc-prod h2 {
    font-size: 16px;
    font-weight: bold;
}
p{
	font-size: 14px;
}
.desc-prod {
    padding-top: 28px;
}
.price {
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    text-align: center;
    padding-top: 20px;
}
#descuento-price {
    opacity: 0.5;
    text-decoration: line-through;
    font-size: 16.8px;
    line-height: 1.7;
}
.price h2 {
    font-size: 38.4px;
    font-weight: bold;
    line-height: 1.17;
}
#disminuir {
    background-color: #dadada;
    border: none;
    border-radius: 12px;
    display: inline-block;
    padding: 10px;
}
#contador{
    display: inline-block;
    border: solid 1px #dadada;
    border-radius: 12px;
    padding: 12px;
    width: 56px;
}
#aumentar{
    display: inline-block;
    background-color: #e5001d;
    border: none;
    border-radius: 12px;
    padding: 9px;

}
button:focus {
    outline: none !important;
}
.agregar {
    border-top: solid 1px #979797;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #979797;
}
.ls-deseo img {
    float: left;
}
.ls-deseo {
    padding-top: 20px;
    text-align: left;
    padding-left: 24px;
}
.ls-deseo p {
    margin-left: 42px;
}
.compra-sg img {
    float: left;
}
.compra-sg p {
    margin-left: 42px;
}
.compra-sg{
    padding-top: 20px;
    text-align: left;
    padding-left: 24px;
}
.comprar-btn {
    padding: 20px;
}
.btn-comprar {
    background-color: #e5001d;
    width: 100%;
    color: #fff;
    border-radius: 22.5px;
    height: 40px;
}
.especificaciones {
    border: solid 1px #979797;
    border-radius: 10px;
    padding: 30px;
}
table{
    width: 100%;
}
td img {
    float: right;
}
td {
    padding-bottom: 13px;
    padding-top: 20px;
    border-top: solid 1px;
}
.especificaciones h2 {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 30px;
}
.uso {
    padding: 30px;
    margin-top: 50px;
}
.uso h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}
.uso li {
    font-size: 12px;
    line-height: 28px;
    padding-right: 46%;
}
.uso ul {
    list-style: none;
}
.uso li:before {
    content: '';
    display: block;
    position: relative;
    left: -15px;
    top: 18px;
    width: 4px;
    height: 7px;
    border-radius: 2px;
    background-color: #CF0F11;
}
#back-uso{
    background-image: url(../img/ico-girl.png);
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
}
.expe-produc {
    padding-top: 50px;
    padding-bottom: 50px;
}
.img-dimen-capa {
    width: 50%;
    float: left;
}
.caracte {
    width: 50%;
    float: left;
    padding-bottom: 26px;
    padding-top: 12%;
}
.img-dimen-capa h2 {
    font-size: 16px;
    line-height: 28px;
}
.caracte p {
    font-size: 12px;
    line-height: 6px;
}
.dimensiones .col-lg-8 {
    border: solid 1px #979797;
    border-radius: 10px;
    padding: 30px;
}
.inclusion {
    padding: 30px;
    border: solid 1px #979797;
    border-radius: 10px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.94) 14%, rgba(151,151,151,0.78) 51%, rgba(151,151,151,0.69) 71%, rgba(151,151,151,0.57) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(14%, rgba(255,255,255,0.94)), color-stop(51%, rgba(151,151,151,0.78)), color-stop(71%, rgba(151,151,151,0.69)), color-stop(100%, rgba(151,151,151,0.57)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.94) 14%, rgba(151,151,151,0.78) 51%, rgba(151,151,151,0.69) 71%, rgba(151,151,151,0.57) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.94) 14%, rgba(151,151,151,0.78) 51%, rgba(151,151,151,0.69) 71%, rgba(151,151,151,0.57) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.94) 14%, rgba(151,151,151,0.78) 51%, rgba(151,151,151,0.69) 71%, rgba(151,151,151,0.57) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0.94) 14%, rgba(151,151,151,0.1) 51%, rgba(151,151,151,0.1) 71%, rgba(151,151,151,0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#979797', GradientType=0 );
}
.inclusion h4 {
    font-size: 16px;
    font-weight: bold;
}
.inclusion ul{
    list-style: none;
}
.inclusion li:before {
    content: '';
    display: block;
    position: relative;
    left: -15px;
    top: 18px;
    width: 4px;
    height: 7px;
    border-radius: 2px;
    background-color: #CF0F11;
}
.inclusion img {
    text-align: right;
    padding-left: 30%;
    padding-top: 20%;
}



.slider-product .col-md-3{
  display: inline-block;
  margin-left:-4px;
}
.slider-product .col-md-3 img{
  width:75%;
  height:auto;
  border: solid 1px #979797;
    border-radius: 10px;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon{
  background-color:red;
}
body .no-padding{
  padding-left: 0;
  padding-right: 0;
}
#demo .carousel-item {
    border: none;
}
.slider-product {
    padding-top: 50px;
}
#demo h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
}
#demo h2:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 13px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    background-color: #CF0F11;
    margin-right: 10px;
}
.slider-btn {
    color: #e5001d;
    font-size: 8px;
    border: solid 1px;
    border-radius: 12.5px;
    font-weight: bold;
}
.footer {
    background: #000000;
    color: #fff !important;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer h4 {
    font-size: 16px;
    font-weight: bold;
}
.footer a {
    color: #fff;
    font-size: 14px;
}
.footer ul{
    list-style: none;
    padding: 0px;
}
.footer ul li {
    padding-bottom: 10px;
}
.footer td {
    border: none;
    padding-bottom: 0px;
    padding-top: 4px;
    font-size: 16px;
    line-height: 19px;
}
.subfooter {
    text-align: center;
    border-top: solid 1px rgba(255, 255, 255, 0.25);
    padding-top: 20px;
}
.nav-item {
    font-size: 14px;
    color: #212121;
}
.form-inline {
    text-align: center;
}
.form-inline li {
    padding-bottom: 0px;
    padding-top: 2px;
}
a.nav-item.nav-link {
    padding-top: 20px;
}